src/main/webapp/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"><doc
        jersey:generatedBy="Jersey: 1.18.1 02/19/2014 03:28 AM"
        xmlns:jersey="http://jersey.java.net/"/><doc
        title="Serviços da POC"
            xml:lang="pt-BR"><![CDATA[Restful Services da POC JEE 6]]></doc><grammars><include
        href="schema.xsd"/></grammars><resources
            base="http://localhost:8080/jee6poc"><resource
                path="/pessoa"><method id="addPessoa"
                        name="POST"><request><representation
                        mediaType="application/json; charset=UTF-8"/></request><response><representation
                mediaType="application/json; charset=UTF-8"/></response></method><method
                id="getPessoas" name="GET"><request><param name="nome"
                        style="query" type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                        name="telefone" style="query" type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                mediaType="application/json; charset=UTF-8"/></response></method><resource
                    path="/{id: \d+}"><param name="id" style="template"
                    type="xs:long"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/><method
                    id="getPessoa" name="GET"><response><representation mediaType="application/json; charset=UTF-8"/></response></method></resource></resource></resources></application>
